#coverpage {
    width: 250px;
    height: auto;
    margin-left: 40%;
}

body {
    background-color: deepskyblue;
    margin-left: 50px;
    margin-right: 50px;
}

a:hover {
    background-color: blueviolet;
}

#story {
    background-color: #f8e2e2;
}

hr {
    size: 3px;
}

#pst1 {
    line-height: 20px;
    font-size: 20px;
}

#imgpage {
    width: 250px;
}

a {
    text-decoration: none;
}

br {
    margin-bottom: 15px;
}

#menu {
    font-family: Arial;
    font-weight: 500;
    font-size: 23px;
}

.backhome:hover {
    background-color: deepskyblue;
}

.backhome {
    text-align: center;
    border: 1px solid red;
    width: 180px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    color: darkviolet;
}